.header__phone-message-image_outgoing {
    margin-left: 17px;
}

@media screen and (max-width: 1280px) {
    .header__phone-message-image_outgoing {
        margin-left: 8px;
    }
}

@media screen and (max-width: 810px) {
    .header__phone-message-image_outgoing {
        margin-left: 12px;
    }
}