.header__phone-button-mobile {
    display: none;
}

@media screen and (max-width: 610px) {
    .header__phone-button-mobile {
        display: block;
        margin: 64px 0 -18px 0;
        width: 180px;
        height: 48px;
        border-radius: 10px;
        background-color: #2F89FC;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        border: none;
        box-shadow: -5px -5px 20px #265A9D, 5px 5px 20px rgba(31, 34, 37, 0.61);
    }
    .header__phone-button-mobile:hover {
        box-shadow:-7px -7px 20px #2F89FC, 5px 5px 20px rgba(31, 34, 37, 0.61);
    }
}