.profile__requests-history-button-mobile {
    display: none;
}

@media screen and (max-width: 610px) {
    .profile__requests-history-button-mobile {
        display: block;
        margin-top: 28px;
        width: 236px;
        height: 48px;
        border-radius: 10px;
        background: #2F89FC;
        box-shadow: 5px 5px 48px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(46, 133, 243, 0.42);
        cursor: pointer;
        outline: none;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
    }
}