.profile__requests-history-description {
    margin: 0;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 1100px) {
    .profile__requests-history-description {
        margin-right: 48px;
        font-size: 16px;
    }
}

@media screen and (max-width: 810px) {
    .profile__requests-history-description {
        font-size: 13px;
    }
}

@media screen and (max-width: 610px) {
    .profile__requests-history-description {
        margin-right: 0;
        font-size: 18px;
    }
}