.profile__requests-history-status_solution_no {
  color: #FF0000;
}

.profile__requests-history-status_solution_no:before {
  content: ' ';
  background-image: url(../../../../images/down-status.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.3em;
  width: .8em;
  margin-left: .6em;
  background-size: contain;
  cursor: pointer;
  float: right;
}