.footer__social-icon {
       width: 40px;
       height: 40px;
}

@media screen and (max-width: 610px) {
       .footer__social-icon {
              width: 36px;
              height: 36px;
       }
}