.header__phone-message-container_incoming {
    margin-left: -96px;
    align-self: flex-start;
}

@media screen and (max-width: 1280px) {
    .header__phone-message-container_incoming {
        margin-left: -91px;
        margin-right: 13px;
    }
}

@media screen and (max-width: 810px) {
    .header__phone-message-container_incoming {
        margin-left: -36px;
        margin-right: 47px;
    }
}

@media screen and (max-width: 610px) {
    .header__phone-message-container_incoming {
        margin-left: 8px;
        margin-right: 8px;
    }
}