.enter__reset {
  position: absolute;
  bottom: 15px;
  left: 12px;
  font-size: 16px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid #2F89FC;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.enter__reset:hover {
  border: 2px solid #84BAFF;
  box-shadow: 5px 5px 48px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(46, 133, 243, 0.42);
}