@import url(./__section-one/header__section-one.css);
@import url(./__menu-burger/header__menu-burger.css);
@import url(./__menu-burger-button-container/header__menu-burger-button-container.css);
@import url(./__menu-burger-button/header__menu-burger-button.css);
@import url(./__menu-burger-box/header__menu-burger-box.css);
@import url(./__menu-burger-item/header__menu-burger-item.css);
@import url(./__menu/header__menu.css);
@import url(./__menu-item/header__menu-item.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__user/header__user.css);
@import url(./__user-avatar/header__user-avatar.css);

@import url(./__section-two/header__section-two.css);
@import url(./__text-container/header__text-container.css);
@import url(./__title/header__title.css);
@import url(./__description/header__description.css);
@import url(./__button/header__button.css);

@import url(./__phone-container/header__phone-container.css);
@import url(./__phone-message-container/header__phone-message-container.css);
@import url(./__phone-message-container/_incoming/header__phone-message-container_incoming.css);
@import url(./__phone-message-container/_outgoing/header__phone-message-container_outgoing.css);
@import url(./__phone-message-container/_last/header__phone-message-container_last.css);
@import url(./__phone-message-container/_last-tablet/header__phone-message-container_last-tablet.css);
@import url(./__phone-message-image/header__phone-message-image.css);
@import url(./__phone-message-image/_incoming/header__phone-message-image_incoming.css);
@import url(./__phone-message-image/_outgoing/header__phone-message-image_outgoing.css);
@import url(./__phone-message/header__phone-message.css);
@import url(./__phone-message/_incoming/header__phone-message_incoming.css);
@import url(./__phone-message/_outgoing/header__phone-message_outgoing.css);
@import url(./__phone-message-text/header__phone-message-text.css);
@import url(./__phone-message-text-span/header__phone-message-text-span.css);
@import url(./__phone-buttons-container/header__phone-buttons-container.css);
@import url(./__phone-button/header__phone-button.css);
@import url(./__phone-button-mobile/header__phone-button-mobile.css);

.header {
    margin: 40px 150px 0 150px;
}

@media screen and (max-width: 1280px) {
    .header {
        margin: 0;
    }
}

@media screen and (max-width: 610px) {
    .header {
        margin: 16px 16px 0 16px;
    }
}