@import url(./__section-one/header__section-one.css);
@import url(./__logo/header__logo.css);
@import url(./__logo-image/header__logo-image.css);
@import url(./__logo-text/header__logo-text.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__user/header__user.css);
@import url(./__user-logo/header__user-logo.css);

@import url(./__section-two/header__section-two.css);
@import url(./__title/header__title.css);
@import url(./__description/header__description.css);
@import url(./__button/header__button.css);

@import url(./__phone-container/header__phone-container.css);
@import url(./__phone-message-container/header__phone-message-container.css);
@import url(./__phone-message-container/_incoming/header__phone-message-container_incoming.css);
@import url(./__phone-message-container/_outgoing/header__phone-message-container_outgoing.css);
@import url(./__phone-message-container/_last/header__phone-message-container_last.css);
@import url(./__phone-message-image/header__phone-message-image.css);
@import url(./__phone-message-image/_incoming/header__phone-message-image_incoming.css);
@import url(./__phone-message-image/_outgoing/header__phone-message-image_outgoing.css);
@import url(./__phone-message/header__phone-message.css);
@import url(./__phone-message/_incoming/header__phone-message_incoming.css);
@import url(./__phone-message/_outgoing/header__phone-message_outgoing.css);
@import url(./__phone-message/_last/header__phone-message_last.css);
@import url(./__phone-message-text/header__phone-message-text.css);
@import url(./__phone-message-text-span/header__phone-message-text-span.css);
@import url(./__phone-buttons-container/header__phone-buttons-container.css);
@import url(./__phone-button/header__phone-button.css);

.header {
    padding: 0 150px 0 150px;
    margin-top: 40px;
    position: relative;
}