.header__phone-container {
    position: absolute;
    top: 148px;
    right: 286px;
    width: 327px;
    background-color: #E0719E;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 116px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
}