.header__phone-buttons-container {
    margin: 64px 24px 0 24px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .header__phone-buttons-container {
        margin: 104px 17px 0 17px;
    }
}

@media screen and (max-width: 810px) {
    .header__phone-buttons-container {
        display: none;
    }
}