@import url(./__content/root__content.css);

header, span, div, nav, p, h1, h2, h3, h4, a, section, ul, li, img, iframe, input, textarea, button {
    outline: 1px solid;
    outline-color: red;
}

.root {
    font-family: 'Helvetica Neue', 'Sans-serif', 'Arial';
    background-color: #fff;
    color: #000;
}