.popup__container {
    width: 493px;
    background: linear-gradient(180deg, #30353A 6.57%, #56595C 90.86%);
    box-shadow: 0 15px 30px rgba(15, 19, 28, 0.25);
    border-radius: 15px;
    color: #fff;
    padding: 64px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 610px) {
    .popup__container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 610px) {
    .popup__container {
        width: 70%;
    }
}