.enter__avatar {
  position: absolute;
  border-radius: 50px;
  object-fit: cover;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  right: -30px;
  top: -30px;
}

@media screen and (max-width: 800px) {
  .enter__avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
  }
}