.footer__social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 1280px) {
    .footer__social-icons {
        gap: 24px;
    }
}

@media screen and (max-width: 610px) {
    .footer__social-icons {
        margin: 24px 0 24px 0;
    }
}