.profile__requests-history-message {
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 28px 12px 16px;
    margin: 16px 192px 0 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 20px rgba(255, 255, 255, 0.2);
    color: #000;
}

@media screen and (max-width: 1100px) {
    .profile__requests-history-message {
        padding: 10px 16px 6px 16px;
        margin: 16px 126px 0 0;
    }
}

@media screen and (max-width: 810px) {
    .profile__requests-history-message {
        padding: 10px 13px 6px 13px;
        margin: 8px 96px 0 0;
    }
}

@media screen and (max-width: 610px) {
    .profile__requests-history-message {
        padding: 19px 8px 18px 8px;
        margin: 24px 0 0 0;
    }
}