.profile__requests-history-button {
    width: 268px;
    height: 60px;
    border-radius: 10px;
    background: #2F89FC;
    box-shadow: 5px 5px 48px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(46, 133, 243, 0.42);
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.profile__requests-history-button:hover {
    box-shadow:-7px -7px 20px #2F89FC, 5px 5px 20px rgba(31, 34, 37, 0.61);
}

@media screen and (max-width: 810px) {
    .profile__requests-history-button {
        width: 245px;
        height: 46px;
    }
}

@media screen and (max-width: 610px) {
    .profile__requests-history-button {
        display: none;
    }
}